* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
  background: black;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
footer {
  background-color: #3299f7;
}
h3 {
  font-size: 45px;
  font-family: "Lobster", cursive;
  border: 2px solid #fff;
  padding: 50px;
  color: #fff;
}

.animation {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.title,
.staticTitle,
.desc {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white;
}
.prim {
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
  font-size: 30px;
  font-family: "Lobster", cursive;
  font-weight: bold;
}
section img {
  height: 100px;
  position: absolute;
  left: -40%;
  bottom: 5%;
}
.police-boat {
  height: 100px;
  position: absolute;
  left: -10%;
  bottom: 5%;
  font-family: "Lobster", cursive;
  font-size: 90px;
}
section svg {
  position: absolute;
  left: 0%;
  bottom: 0% !important;
}
